<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
@* 			<div class="photo" img-src="~/hola-master/images/pp.png/">
				<img src="~/hola-master/images/pp.png/">
			</div> *@
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Emir Ali Girgin
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				@* 				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Profili Düzenle</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div> *@
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-home"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Education/EducationList/">
					<i class="la la-keyboard-o"></i>
					<p>Eğitim</p>
				</a>
			</li>
			@* 			<li class="nav-item ">
				<a href="/Portfolio/Index">
					<i class="la la-fonticons"></i>
					<p>Projelerim</p>
				</a>
			</li> *@
			<li class="nav-item">
				<a href="/Skil/Index">
					<i class="la la-fonticons"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>
			@* 			<li class="nav-item">
				<a href="/Skill/Index">
					<i class="la la-fonticons"></i>
					<p>Referanslarım</p>
				</a>
			</li> *@
			<li class="nav-item">
				<a href="/Contact/Index">
					<i class="la la-fonticons"></i>
					<p>İletişim Bilgilerim</p>
				</a>
			</li>
			@* 			<li class="nav-item">
				<a href="/Skill/Index">
					<i class="la la-fonticons"></i>
					<p>Sosyal Medya</p>
				</a>
			</li> *@
			@* 			<li class="nav-item">
				<a href="/Statistic/Index">
					<i class="la la-fonticons"></i>
					<p>İstatistikler</p>
				</a>
			</li> *@
		</ul>
	</div>
</div>